[general]

#-------------------------------
# Token used to protect payload url
# Make it complex but url friendly
#-------------------------------
breed_token: change_this-78gf8f89fns87dqw67e21ge27ddwq2

#-------------------------------
# Auth Used to protect test page
#-------------------------------
username: admin
password: change_this

#-------------------------------
# Location of the logs
#-------------------------------
log_dir: logs

#-------------------------------
# General log - Size when a new log is started
#-------------------------------
log_maxbytes: 10000000

#-------------------------------
# General log - Number of log files to store
#-------------------------------
log_backupcount: 5

#-------------------------------
# Fragment logs - Days to keep details of each payload processed
#-------------------------------
log_payload_keep: 1


[operations]

#-------------------------------
# Operations general config
#-------------------------------

# github token for deploying github repos
# github_token: 78gfreuyivgr389fg34nfETC

# env - such as dev, staging, prd
# env: DEV

