#-------------------------------
# Repo specific config
#-------------------------------

[general]
root_dir: /var/www/domain.com/

[op_gitflow]

# Will create a folder for each branch within root dir
active: False

[op_mysql_database_copy]

active: True

# You can place u and p in general.ini 'operations' section
# if you want all repos to use same access details
db_u: example
db_p: password

# Uses active branch name from payload by default
# i.e. repo_name_master > repo_name_branch_name

# Optional static names
# db_name_from = 'example1'
# db_name_to = 'example2'