$def with (breed_token)

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Breed - git deploy framework</title>
    
	<link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,400' rel='stylesheet' type='text/css'>
    
	<!-- Bootstrap -->
	<link rel="stylesheet" href="/static/css/bootstrap.min.css">
	
	<!-- Optional theme -->
	<link rel="stylesheet" href="/static/css/bootstrap-theme.min.css">
	
	<!-- Custom -->
	<link rel="stylesheet" href="/static/css/custom.css">
	
</head>
<body>

    <div class="container">
    
		<h1>Breed - git deploy framework</h1>

		<div class="panel panel-primary panel-top">
			<div class="panel-heading">
				Test your deployments manually
			</div>
			<div class="panel-body">

				<!-- Upload payload and grab result -->
				<form action="git-deploy" method="post"
					enctype="multipart/form-data" id="test" 
					class="form-horizontal" style="padding-bottom:10px" 
					role="form">
					<fieldset>
						<textarea class="field span12" id="payload" rows="6" cols="50" placeholder="Paste your JSON payload here..."></textarea>
						<button type="submit" class="btn btn-default">
							Test</button><img id="spinner" src="static/loader.gif" />
					</fieldset>
				</form>

				<!-- The result of the payload git deploy 
				will be rendered inside this div -->
				<div id="result"><pre>Result will be shown here.</pre></div>

			</div>
		
		</div>

		
		<!-- The result of the payload git deploy 
		will be rendered inside this div -->
		<div id="payloads"><pre>Individual payload results will be shown here.</pre></div>

    </div><!-- /.container -->

	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
	<script src="/static/js/jquery.min.js"></script>
	
	<!-- Latest compiled and minified JavaScript -->
	<script src="/static/js/bootstrap.min.js"></script>
	
	<script>

		// Hide spinner and result panel
		$$('#spinner').hide();
		$$( "#result" ).hide();
		
		// Get the payload data
		getPayloads();
	
		// Attach a submit handler to the form
		$$( "#test" ).submit(function( event ) {
		
			// Stop form from submitting normally
			event.preventDefault();
			
			// Show spinner
			$$('#spinner').show();
			
			// Send the data using post
			$$.ajax({
				type: "POST",
				url: "/deploy/$breed_token",
				data: $$("#payload").val(),
				success: function(msg) {
					$$( "#result" ).show()
					$$( "#result pre" ).empty().append(msg);
					$$('#spinner').hide();
					getPayloads();
				},
				error: function(xhr, textStatus, errorThrown) {
					$$( "#result" ).show()
					$$( "#result pre" ).empty()
					.append('Failed, see logs : '+xhr.statusText+textStatus+errorThrown);
					$$('#spinner').hide();
				}
				
			});
			
		});
		
		function getPayloads() {
			$$.get("/payload_data", function(data) {
				$$("#payloads").html(data);
				$$("#payloads div.panel-body").hide();
				$$("#payloads div.panel-body div").hide();
				$$("#payloads div.panel-heading").append('<a class="showp label label-primary" href="#">json</a>');
				$$("#payloads div.panel-heading").append('<a class="showl label label-primary" href="#">log</a>');
				setupButton('.showp','.payload_json')
				setupButton('.showl','.payload_log')
			});
		}
		
		function setupButton(bType,bTriggers) {
		
			$$(bType).click(function(event) {
				
				bParent = $$(event.target).parent().parent();
				
				pShowing = false;
				if(bParent.find(bTriggers).not('.pShown').length) {
					pShowing = true;
				}
				bParent.find('.pShown').hide().removeClass('pShown');
				if(pShowing) {
					bParent.find(bTriggers).show().addClass('pShown');
					bParent.find('div.panel-body').show();
				} else {
					bParent.find('div.panel-body').hide();
				}
				return false
				
			});
			
		}
		
	</script>
	
	
    
</body>
</html>